<div class="row">
<div class="large-12 columns">
</div>
</div>

<div class="row">
<div class="large-6 push-3 columns">
<li>Welcome to the Renaissance of Reminscence...</li>
<li>Anecjokes is a place where anecists can be remind and therefore relive amusements of the past.</li>
<li>Jot down your joggings on the move, rather like a hipster diary, so that they may be recounted to posterity.</li>

<li><img src= http://theartmad.com/wp-content/uploads/2015/04/Smiley-Face-7.jpg alt="Smiley Face" height="100" width="100"></li>
</div>
</div>



  
     
