<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
<p>Anecjokes is a place where anecists can create and share memories. An instagram for stories/ a hipster diary.</p>
</body>
</html>

