<div class="row">
  <h1>Joke Bank</h1>

  <% if current_user %>
  <button class="new-joke center"><%= link_to 'Deposit Anecjoke', new_story_path %></button>
  <% end %>

  <div class="small-8 small-offset-2 columns">
    <ul>
      <%= render @stories %>
    </ul>
  </div>
</div>



