<h1>Listing Categories</h1>

<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-9">
  <% @categories.each do |category| %>
  <li>
    <ul>
      <li><%= category.name %></li>
      <li><%= link_to 'Show', category %></li>
    </ul>
  </li>
  <% end %>
</ul>

<% if current_user %>

<%= link_to 'New Category', new_category_path %>

<% end %>