<div class="row">

  <p id="notice"><%= notice %></p>

  <h1>
    <strong>El Vibe:</strong>
    <%= @category.name %>
  </h1>

  <div class="small-8 small-offset-2 columns">
    <ul>
      <%= render @category.stories %>
    </ul>
  </div>
</div>
